<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Filtros de Selección</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <!-- <div class="row m-t-20"> -->
      <div class="col-lg-12">
        <!-- input -->
        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Rango de fechas</mat-label>
        <mat-form-field class="w-100" appearance="outline">
          <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
            <input matStartDate formControlName="start" placeholder="Fecha inicial">
            <input matEndDate formControlName="end" placeholder="Fecha final">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          @if (range.controls.start.hasError('matStartDateInvalid')) {
          <mat-error>Fecha inicial Invalida</mat-error>
          }
          @if (range.controls.end.hasError('matEndDateInvalid')) {
          <mat-error>Fecha final Invalida</mat-error>
          }
        </mat-form-field>

        <!-- input -->
        <div class="justify-content-center align-items-center" style="height: 100%;">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Compañia</mat-label>
          <mat-button-toggle-group class="b-t-1" [(ngModel)]="selectedCompany" (change)="onCompanyChange()">
            <mat-button-toggle *ngFor="let item of currentCompany" [value]="item" style="width: 100%;">
              &nbsp;&nbsp; {{ item }} &nbsp;&nbsp;
            </mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
    <!-- </div> -->
  </mat-card-content>
  <mat-card-actions class="b-t-1">
    <button mat-raised-button color="primary" class="m-r-8" (click)="filtrarFecha()">
      Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpiarFiltro()">
      Limpiar
    </button>
  </mat-card-actions>
</mat-card>

<!--
    <p>Selected range: {{range.value | json}}</p>
  -->