
<mat-card class="cardWithShadow">
  <mat-card-header>
    <div class="d-sm-flex justify-content-between w-100">
      <div class="m-b-4">
        <mat-card-title>Estadística personas atendidas  ({{ inicio }}{{ showEndDate ? ' a ' + fin : '' }})</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </div>
      <div class="d-flex justify-content-end gap-10">
        <mat-card-title>Total personas atendidas: {{ourvisitorChart.Total}}</mat-card-title>
      </div>
    </div>
  </mat-card-header>
  <mat-card-content class="p-20 m-b-24">
    <div id="visitor-chart" class="p-t-30 d-flex flex-column">
      <apx-chart
        [series]="ourvisitorChart.series"
        [chart]="ourvisitorChart.chart"
        [labels]="ourvisitorChart.labels"
        [tooltip]="ourvisitorChart.tooltip"
        [legend]="ourvisitorChart.legend"
        [colors]="ourvisitorChart.colors"
        [dataLabels]="ourvisitorChart.dataLabels"
        [plotOptions]="ourvisitorChart.plotOptions"
        [stroke]="ourvisitorChart.stroke"
        [responsive]="ourvisitorChart.responsive"
      >
      </apx-chart>
    </div>
  </mat-card-content>
</mat-card>
