<div class="flex">
  <div class="user-profile profile-bar" [ngStyle]="{'background': 'url(assets/images/backgrounds/bom' + imgRandom + '.jpg) no-repeat' }">
  <!-- <div class="user-profile" [ngStyle]="{'background': 'url(assets/images/backgrounds/bom' + imgRandom + '.jpg) no-repeat' }"> -->
    <!-- User profile image -->
    <div class="profile-img">
      <img [src]="loginService.currentUserValue.url_imagen" alt="user" width="50" class="rounded-circle" />
      <!-- <img [src]="loginService.currentUserValue.url_imagen" [alt]="loginService.currentUserValue.usuario" width="50" class="rounded-circle" /> -->
    </div>
    <!-- User profile text-->
    <!-- ============================================================== -->
    <!-- Profile - style you can find in header.scss -->
    <!-- ============================================================== -->
    <div class="profile-text">
      <a [matMenuTriggerFor]="sdprofile" class="d-flex align-items-center text-white w-100 f-s-16">
        <!-- Markarn Doe -->
        {{loginService.currentUserValue.correo}}
        <i-tabler name="chevron-down" class="icon-18 m-l-auto"></i-tabler>
      </a>
    </div>
    <mat-menu #sdprofile="matMenu" xPosition="after" class="cardWithShadow profile-dd">
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="settings"
            class="icon-18 d-flex"></i-tabler></mat-icon>
        Settings
      </button>
      <button mat-menu-item [routerLink]="['/user-perfil/account-setting']">
        <mat-icon class="d-flex align-items-center"><i-tabler name="users" class="icon-18 d-flex"></i-tabler></mat-icon>
        Perfil
      </button>
      <button mat-menu-item>
        <mat-icon class="d-flex align-items-center"><i-tabler name="bell-off"
            class="icon-18 d-flex"></i-tabler></mat-icon>
        Disable notifications
      </button>
      <a mat-menu-item [routerLink]="['/authentication/side-login']" [queryParams]="{ Logout: 'true'}"><mat-icon
          class="d-flex align-items-center"><i-tabler name="logout" class="icon-18 d-flex"></i-tabler></mat-icon>
        Salir</a>
    </mat-menu>
  </div>
</div>