<div [formGroup]="addForm" class="col-12">
  <div class="table-responsive">
    <table class="table table-hover b-1 no-wrap w-100 rounded">
      <tbody style="display: flex; flex-wrap: wrap">
        <mat-card-content class="cardWithShadow theme-card overflow-hidden col-12">
          <mat-card-title class="d-flex align-items-center text-primary">
            <i-tabler name="ambulance" class="icon-18 d-flex"></i-tabler>
            Unidades que asistieron:
          </mat-card-title>
          <div *ngIf="!hasRows">
            <div class="text-center m-t-30">
              <button color="primary" mat-flat-button (click)="onAddRow()">
                Añadir Unidad
              </button>
            </div>
          </div>

          @for(row of addForm.get('rows')['controls']; track row; let index =
          $index) {
          <mat-card-content class="cardWithShadow theme-card overflow-hidden">
            <mat-card-content class="bg-light-primary text-white p-y-8">
              <mat-card-title class="d-flex align-items-center text-primary">
                <i-tabler name="ambulance" class="icon-18 d-flex"></i-tabler>
                Unidad No. {{ index + 1 }}
              </mat-card-title>

              <div class="row m-t-200">
             
                <div class="col-lg-6">
                  <div>
                    <mat-form-field appearance="outline" class="example-full-width input-small-size d-block">
                      <mat-label>Unidad.
                      </mat-label>
                      <mat-select [formControl]="row.get('Cod_Unidad')">
                        <mat-option *ngFor="let Cat_Unidades of Cat_Unidad" [value]="Cat_Unidades.Cod_Unidad">{{
                          Cat_Unidades.Descripcion_TipoUnidad + ' - ' + Cat_Unidades.Cod_Unidad}}</mat-option>
  
                      </mat-select>
  
                    </mat-form-field>
  
                  </div>
  
                </div>

                <div class="col-lg-6">
                  <div>
                    <mat-form-field appearance="outline" class="example-full-width input-small-size d-block">
                      <mat-label>Piloto.
                      </mat-label>
                      <mat-select [formControl]="row.get('Carnet_Piloto')">
                        <mat-option *ngFor="let Piloto of Pilotos" [value]="Piloto.Carnet">{{
                          Piloto.Nombre }}</mat-option>
  
                      </mat-select>
  
                    </mat-form-field>
  
                  </div>
  
                </div>

              </div>

              <div class="row m-t-200">
                <div
                  appearance="outline"
                  class="example-full-width input-small-size d-block"
                >
                  <button
                    color="warn"
                    mat-icon-button
                    (click)="onRemoveRow(index)"
                    class="d-flex justify-content-center"
                  >
                    <i-tabler name="trash" class="icon-18 d-flex"></i-tabler>
                  </button>
                </div>
                <div
                  appearance="outline"
                  class="example-full-width input-small-size d-block"
                >
                  <button
                    color="primary"
                    mat-icon-button
                    (click)="onAddRow()"
                    class="d-flex justify-content-center"
                  >
                    <i-tabler
                      name="circle-plus"
                      class="icon-18 d-flex"
                    ></i-tabler>
                  </button>
                </div>
              </div>
            </mat-card-content>

            <tr></tr>
          </mat-card-content>
          }
        </mat-card-content>
      </tbody>
    </table>
  </div>
</div>
