<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Personal Destacado ({{ inicio }}{{ showEndDate ? ' a ' + fin : '' }}) </mat-card-title>
    <mat-card-subtitle>El listado corresponde al top 10 del personal destacado durante {{ inicio }} {{ showEndDate ? ' a ' + fin : '' }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource2" class="w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="carnet">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Carnet
          </th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <!--<img
                [src]="element.imagePath"
                alt="users"
                width="40"
                class="rounded-circle"
              /> -->
              {{ element.carnet }}
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Nombre
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <div class="m-l-16">
              <h6 class="mat-subtitle-1 f-s-14 f-w-500 lh-sm">
                {{ element.nombre }}
              </h6>
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->

        <!-- Symbol Column -->
        <ng-container matColumnDef="servicios">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="f-w-500 mat-subtitle-1 f-s-14"
          >
            Total Servicios
          </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            {{ element.totalServicios }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
