.mat-header-cell {
  font-size: 13px;
  font-weight: bold;
  text-align: justify;
  color: #ff9800; /* Cambia el color aquí si lo deseas */
  padding-left: 0px;
}
mat-cell {
  font-size: 12px;
  white-space: normal;
  vertical-align: middle ;
  text-align: left;
}


// table {
//   width: 100%;
// }

// td {
//   font-size: 12px;
//   vertical-align: middle;
// }
