<mat-card class="cardWithShadow">
  <mat-card-content class="p-0">
    <div>
      <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="d-flex align-items-center">
              <mat-icon>
                <i-tabler name="report" class="icon-20 m-r-8"></i-tabler>
              </mat-icon>
            </div>
            Reporte Estadístico
          </ng-template>
          <mat-card-content class="p-y-24 b-t-1">
            <div class="row">
              <div class="col-sm-6">
                <div [formGroup]="rptEstaMensual">
                  <mat-card class="cardWithShadow theme-card">
                    <mat-card-header>
                      <mat-card-title class="m-b-0">Control Estadístico</mat-card-title>
                      <mat-card-subtitle class="m-b-0">Seleccione el año y mes para poder descargar el
                        reporte</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="b-t-1">
                      <div class="row m-t-20">
                        <div class="col-lg-12">
                          <!-- input -->
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione Compañia</mat-label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-select [value]="loginService.currentUserValue.cod_compania" required
                              formControlName="Cod_Compania">
                              <mat-option *ngFor="let company of loginService.currentUserValue.cod_compania"
                                [value]="company">{{ company }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                          <!-- input -->
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione año</mat-label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-select required formControlName="Anio">
                              <mat-option *ngFor="let year of getPreviousYears()" [value]="year">{{ year }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!-- input -->

                        </div>
                        <div class="col-lg-6">
                          <!-- input -->
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione Mes</mat-label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-select value="0" required formControlName="Mes">
                              <mat-option value="0">Todos</mat-option>
                              <mat-option value="1">Enero</mat-option>
                              <mat-option value="2">Febrero</mat-option>
                              <mat-option value="3">Marzo</mat-option>
                              <mat-option value="4">Abril</mat-option>
                              <mat-option value="5">Mayo</mat-option>
                              <mat-option value="6">Junio</mat-option>
                              <mat-option value="7">Julio</mat-option>
                              <mat-option value="8">Agosto</mat-option>
                              <mat-option value="9">Septiembre</mat-option>
                              <mat-option value="10">Octubre</mat-option>
                              <mat-option value="11">Noviembre</mat-option>
                              <mat-option value="12">Diciembre</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Tipo Reporte</mat-label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-select value="1" required formControlName="Cod_TipoReporte">
                              <mat-option value="1">Control Mensual</mat-option>
                              <mat-option value="2">Control Anual</mat-option>
                              <mat-option value="3">Control Servicio Unidad</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-actions class="b-t-1">
                      <button mat-flat-button color="warn" (click)="submitrptEstaMensual()">
                        <i-tabler style="vertical-align: middle;" name="printer" class="icon-25"></i-tabler>
                        <span style="vertical-align: middle;">&nbsp;Imprimir</span>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                  <!-- <pre>{{rptEstaMensual.value | json}}</pre> -->
                </div>
              </div>
              <div class="col-sm-6">
                <div [formGroup]="rptReporteMensual">
                  <mat-card class="cardWithShadow theme-card">
                    <mat-card-header>
                      <mat-card-title class="m-b-0">Reporte de Servicios</mat-card-title>
                      <mat-card-subtitle class="m-b-0">Seleccione fecha inicial y final</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class="b-t-1">
                      <div class="row m-t-20">
                        <div class="col-lg-12">
                          <!-- input -->
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Seleccione Compañia</mat-label>
                          <mat-form-field appearance="outline" class="w-100">
                            <mat-select [value]="loginService.currentUserValue.cod_compania" required
                              formControlName="Cod_Compania">
                              <mat-option *ngFor="let company of loginService.currentUserValue.cod_compania"
                                [value]="company">{{ company }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          <!-- input -->
                        </div>
                        <div class="col-lg-6">
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Fecha Inicial</mat-label>
                          <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input matInput [matDatepicker]="Fecha_Ini" value="" formControlName="Fecha_Ini" required />
                            <mat-datepicker-toggle matIconSuffix [for]="Fecha_Ini"></mat-datepicker-toggle>
                            <mat-datepicker #Fecha_Ini></mat-datepicker>

                            @if(f['Fecha_Ini'].touched && f['Fecha_Ini'].invalid) {
                            <mat-hint class="m-b-16 error-msg">
                              @if(f['Fecha_Ini'].errors && f['Fecha_Ini'].errors['required']) {
                              <div class="text-error">Fecha inicial es requerida.</div>
                              }
                            </mat-hint>
                            }
                          </mat-form-field>
                        </div>
                        <div class="col-lg-6">
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Fecha Final</mat-label>
                          <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input matInput [matDatepicker]="Fecha_Fin" value="" formControlName="Fecha_Fin" required />
                            <mat-datepicker-toggle matIconSuffix [for]="Fecha_Fin"></mat-datepicker-toggle>
                            <mat-datepicker #Fecha_Fin></mat-datepicker>

                            @if(f['Fecha_Fin'].touched && f['Fecha_Fin'].invalid) {
                            <mat-hint class="m-b-16 error-msg">
                              @if(f['Fecha_Fin'].errors && f['Fecha_Fin'].errors['required']) {
                              <div class="text-error">Fecha inicial es requerida.</div>
                              }
                            </mat-hint>
                            }
                          </mat-form-field>
                        </div>
                        <div class="col-lg-12">
                          <!-- input -->
                          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Nombre del Solicitante:</mat-label>
                          <mat-form-field appearance="outline" class="w-100" color="primary">
                            <input matInput type="text" formControlName="Nombre_Solicitante" />
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-card-content>
                    <mat-card-actions class="b-t-1">
                      <button mat-flat-button color="warn" class="m-l-8"
                        (click)="submitrptReporteMensual()">
                        <i-tabler style="vertical-align: middle;" name="search" class="icon-25"></i-tabler>
                        <span style="vertical-align: middle;">&nbsp;Buscar</span>
                      </button>
                    </mat-card-actions>
                  </mat-card>
                  <!-- <pre>{{rptReporteMensual.value | json}}</pre> -->
                </div>
              </div>
                <div class="col-12">
                <mat-card class="cardWithShadow">
                  <mat-card-content class="p-24">
                    <div class="row justify-content-between m-b-8">
                      <div class="col-lg-5 col-sm-6 d-flex align-items-center">
                        <div>
                          <mat-card-title>Resultado de la Busqueda</mat-card-title>
                          <mat-card-subtitle>Servicios encontrados del {{rptReporteMensual.controls['Fecha_Ini'].value |
                            date:'dd-MM-yyyy'}} al {{rptReporteMensual.controls['Fecha_Fin'].value |
                            date:'dd-MM-yyyy'}}</mat-card-subtitle>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-4">
                        <mat-form-field appearance="outline" class="w-100 hide-hint">
                          <mat-label>
                            <i-tabler style="vertical-align: middle;" name="search" class="icon-20"></i-tabler>
                            Buscar aquí
                          </mat-label>
                          <input matInput (keyup)="applyFilter($event)" placeholder="Filtrado" />
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="table-responsive m-t-30">
                      <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>
                        <!-- ID Column -->
                        <ng-container matColumnDef="NoControl">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            No. Control
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="p-l-0">
                            {{ row.NoControl }}
                          </mat-cell>
                        </ng-container>

                        <!-- Personas_Atendidas Column -->
                        <ng-container matColumnDef="Personas_Atendidas">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell"> Personas Atendidas
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.Personas_Atendidas }} </mat-cell>
                        </ng-container>

                        <!-- Nombre_Solicitante Column -->
                        <ng-container matColumnDef="Nombre_Solicitante">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Nombre Solicitante
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.Nombre_Solicitante }} </mat-cell>
                        </ng-container>

                        <!-- Descripcion_Servicio Column -->
                        <ng-container matColumnDef="Descripcion_Servicio">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Clase de servicio
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row" class="p-l-0"> {{ row.Descripcion_Servicio }} </mat-cell>
                        </ng-container>

                        <!-- Des_Clase_Servicio Column -->
                        <ng-container matColumnDef="Des_Clase_Servicio">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Descripción del servicio
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.Des_Clase_Servicio }} </mat-cell>
                        </ng-container>

                        <!-- Min_Trabajados Column -->
                        <ng-container matColumnDef="Min_Trabajados">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Min. trabajados
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.Min_Trabajados }} </mat-cell>
                        </ng-container>


                        <!-- Ubicacion Column -->
                        <ng-container matColumnDef="Ubicacion">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Ubicación
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.Ubicacion }} </mat-cell>
                        </ng-container>

                        <!-- NoInterno Column -->
                        <ng-container matColumnDef="NoInterno">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            No. Interno
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.NoInterno }} </mat-cell>
                        </ng-container>


                        <!-- Fecha_Servicio Column -->
                        <ng-container matColumnDef="Fecha_Servicio">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Fecha servicio
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.Fecha_Servicio | date:'dd/MM/yyyy'}} </mat-cell>
                        </ng-container>

                        <!-- Acciones Column -->
                        <ng-container matColumnDef="Acciones">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="mat-header-cell">
                            Acciones
                          </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <a (click)="fcnAction('Edit', row)" class="m-r-10 cursor-pointer"><i-tabler
                              name="edit" class="icon-30"></i-tabler></a>
                            <a (click)="fcnAction('Pdf', row)" class="m-r-10 cursor-pointer warn">
                              <i-tabler name="file-type-pdf" class="icon-30"></i-tabler>
                            </a>
                          </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
                      </table>

                      <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
                    </div>
                  </mat-card-content>
                </mat-card>

              </div>
            </div>
          </mat-card-content>
        </mat-tab>
      </mat-tab-group>

      <div class="text-right p-24 p-t-0">
        <!-- <div class="text-center"> -->
          <button id="expExcel" mat-flat-button color="warn" class="m-r-8" (click)="exportDataToExcel()">
            <i-tabler style="vertical-align: middle;" name="file-type-xls" class="icon-25"></i-tabler>
            &nbsp;
            <span style="vertical-align: middle;">Exportar a Excel</span>
          </button>
        <!-- </div> -->
        <!-- <button mat-stroked-button color="warn">Cancel</button> -->
      </div>
    </div>
  </mat-card-content>
</mat-card>