<div class="row">
  <!-- <div class="col-sm-6">
    <app-company-select></app-company-select>
  </div> -->
  <div class="col-sm-4">
    <app-search-filter></app-search-filter>
  </div>
  <div class="col-sm-8">
    <app-indices-servicio></app-indices-servicio>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <app-newsletter-campaign></app-newsletter-campaign>

  </div>
  <div class="col-sm-12">

   <app-personal-atendido></app-personal-atendido>

  </div>
  <div class="col-sm-12">
    <app-per-destacado></app-per-destacado>

  </div>
</div>


<!--Ejemplos del la plantilla-->

<!--<div class="row">-->
<!--  <div class="col-lg-8">-->
<!--    <app-sales-overview></app-sales-overview>-->
<!--  </div>-->
<!--  <div class="col-lg-4">-->
<!--    <app-our-visitors></app-our-visitors>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-lg-4">-->
<!--    <app-blog-card></app-blog-card>-->
<!--  </div>-->
<!--  <div class="col-lg-8">-->
<!--    <app-newsletter-campaign></app-newsletter-campaign>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-sm-6 col-lg-4">-->
<!--    <app-bandwidth-usage></app-bandwidth-usage>-->
<!--  </div>-->
<!--  <div class="col-sm-6 col-lg-4">-->
<!--    <app-download-count></app-download-count>-->
<!--  </div>-->
<!--  <div class="col-lg-4">-->
<!--    <app-weather-card></app-weather-card>-->
<!--  </div>-->
<!--</div>-->

<!--<div class="row">-->
<!--  <div class="col-lg-4">-->
<!--    <app-profile-card></app-profile-card>-->

<!--    <app-my-contacts></app-my-contacts>-->
<!--  </div>-->
<!--  <div class="col-lg-8">-->
<!--    <app-activity-timeline></app-activity-timeline>-->
<!--  </div>-->
<!--</div>-->
